@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"); /* Polices google */

table {
  /*border-style: solid; /* debug */
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  table-layout: fixed;
  width: 100%;
}
